html, * {
	font-family:		"Lucida Console", Monaco, monospace;
}

#ascii {
	display:			inline-block;
	overflow-x:			hidden;
	white-space:		pre;
	
	
	position:			fixed;
	left:				0;
	top:				0;
	/*
	right:				0;
	*/
}

#ascii span {
	display:			block;
}
