html, * {
	font-family:		"Lucida Console", Monaco, monospace;
}

#ascii {
	display:			inline-block;
	overflow-x:			hidden;
	white-space:		pre;
	
	/*
	 * To handle text (#ascii_array) and links (#ascii_links) superposition,
	 * #ascii needs to be positioned either "relative" or "fixed" but not
	 * let default (static).
	 */
	position:			fixed;
	left:				0;
	top:				0;
	/*
	right:				0;
	*/

	/* to avoid selection
	user-select:		none;
	*/
}

#ascii_array span {
	display:			block;
}

#ascii_links {
}

#ascii_links a {
	position:			absolute;
}
